html {
    scroll-behavior: smooth;
}

body {
    background-color: #2d0000;
    color: #fff;
    font-family: "Inter", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

a {
    color: #fff;
    text-decoration: none;
    ;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.logo {
    height: 170px;
}

header {
    background-color: #8b0000;
    border-radius: 0px 0px 20px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header3 {
    width: 170px;
}

main {
    flex-grow: 1;
    padding: 10px 40px;
}


.title {
    text-align: center;
    font-size: 34pt;
}

.role {
    margin-top: -10px;
    opacity: .8;
    font-size: 18px;
    text-align: center;
}

.subtitle {
    text-align: center;
}

.presentation {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    line-height: 1.5;
}

.curriculum {
    display: block;
    padding: 10px;
    border: 1px solid #fff;
    justify-self: center;
    border-radius: 20px;
    margin: 20px 0px;
    transition: .3s;
}

.curriculum:hover {
    background-color: white;
    color: #390000;
}

.pubblicazioni-web {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    text-align: center;
}

.webcard {
    background-color: #4a0000;
    padding: 30px 20px;
    border-radius: 20px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .18);
    transition: 0.3s ease;
}

.webcard a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-weight: bold;
}

.webcard img {
    height: 120px;
    object-fit: contain;
}

.webcard:hover {
    background-color: #600000;
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .45);
}

footer {
    background-color: #8b0000;
    padding: 20px 0px;
    border-radius: 20px 20px 0px 0px;
}

.subtitle-footer {
    text-align: center;
    font-size: 18px;
}

.contatti {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 15px;
}

.contatto-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color .3s ease;
}

.contatto-item:hover {
    color: #ffb3b3;
}

@media (max-width: 768px) {

    .header {
        flex-direction: column;
    }

    .header3 {
        display: none;
    }

    main {
        padding: 10px 10px;
    }

    .presentation {
        flex-wrap: wrap;
    }

    .title {
        font-size: 26pt;
        margin-top: 0;
    }

    .webcard {
        margin-bottom: 20px;
    }

    .pubblicazioni-web {
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 0;
    }

    .iudpi {
        margin-bottom: 20px;
    }
}